SkyCreatorPlugin_UE57_Release/Content/Textures/BackgroundClouds/T_SC_BackgroundClouds_8K.uasset filter=lfs diff=lfs merge=lfs -text
SkyCreatorPlugin_UE57_Release/Content/Textures/SkySphere/TC_SC_StarMap_8K.uasset filter=lfs diff=lfs merge=lfs -text
SkyCreatorPlugin_UE57_Release/Content/Textures/VolumetricClouds/VT_SC_CloudNoise_Shape_256.uasset filter=lfs diff=lfs merge=lfs -text
